<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Criar senha</title>
</head>
<body>
    <form action="" id="passwordForm">
        <div id="logo">
            <p class="firstword">Dauster</p>
            <p class="secondword">Express</p>
        </div>
        <p>Crie a sua senha para acessar o aplicativo de entregas.</p>
        <input id="passwordfield1" type="password" placeholder="Digite a senha" required>
        <input id="passwordfield2" type="password" placeholder="Confirme sua senha" required>
        <button type="submit" id="submitButton">
            ENVIAR
        </button>
    </form>
    <script src="./script.js"></script>
</body>
</html>